<div class="container justify-content-center">
    <div class="row">

        <img src="assets/img/burger.svg" alt="burger image">

    </div>

    <div class="row title">
        <h2>Eat-da-burger!</h2>
    </div>

    <div class="row burgers">
        <div class="col-8 offset-2 burger-list">
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="row devoured">
        <div class="devoured-list col-8 offset-2">
            <h3>Devoured Burgers!</h3>

            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>

    <div class="row">
        <form class="add-burger-form">

            <div class="form-group">
                <label for="burg">Enter the name of a burger and then devour it!</label>
                <textarea class="form-control" name="burger-name" id="burg" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-success" id="submit">Submit</button>

        </form>
    </div>




</div>