{{#if devoured}}
<li class="d-flex justify-content-center">
    <p class="devoured-burger-names">{{burger_name}}</p>
</li>
{{else}}
<li class="d-flex justify-content-between">
    <span class="burger-names">{{burger_name}}</span>

    <button class="devour-button" data-id={{id}}>
        DEVOUR IT!
    </button>
</li>
{{/if}}